<md-content class="md-padding">
<form ng-submit="submit()" name="projectForm">
  <md-input-container class="md-block">
    <!-- Use floating label instead of placeholder -->
    <label>Name</label>
    <input ng-model="user.name" type="text">
  </md-input-container>

  <md-input-container md-no-float class="md-block">
    <input ng-model="user.phone" type="text" placeholder="Phone Number">
  </md-input-container>

  <md-input-container class="md-block">
    <!-- Use floating placeholder instead of label -->
    <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
  </md-input-container>
  <md-button type="submit">Submit</md-button>

</form>
</md-content>
